<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Your HTML Page</title>
</head>

<body>
  <header id="top">
    <div id="top_box">
      <img src="../../static/img/images/star.jpg">
      <a href="#">收藏书店</a>
      <div class="rt">
        <ul>
          <li><span id='welcome'>您好，欢迎来到网上书店！</span><a href="#" id="putDn" data-modal="modal-login">[登录]</a> <a href="#"
              id="registerLink" data-modal="modal-register">[免费注册]</a></li>
          <li><b></b><a href="#">我的订单</a></li>
          <li class="vip"><b></b><a href="#">会员俱乐部</a></li>
          <!-- <li class="dakehu"><b></b><a href="#" >企业频道</a></li>  -->
          <li class="app_jd"><b></b><a href="#">手机书店</a></li>
          <li class="service"><b></b><a>F.A.Q</a></li>
          <li><b></b><a>网站导航</a></li>
        </ul>
      </div>
    </div>
  </header>

  <!-- LOGO和搜索框! -->
  <div id="top_main">
    <a href="#" class="lf">
      <img src="../../static/img/images/logo-seu.png" height="60" alt="LOGO" />
    </a>
    <div id="search_box" class="lf">
      <div class="search">
        <input id="txtSearch" type="text" class="text" />
        <input class="button" name="" type="button" value="搜索" />
      </div>
      <div class="hot_words">
        <span>热门搜索：</span>
        <a href="#">杀死一只知更鸟</a>
        <a href="#">活着</a>
        <a href="#">工科数学分析</a>
        <a href="#">线性代数</a>
        <a href="#">操作系统</a>
        <a href="#">计算机组成原理</a>
        <a href="#">数据库原理</a>
      </div>
    </div>
    <div id="my_jd" class="lf">
      我的书店<b></b>
    </div>
    <div id="settle_up" class="lf">
      去购物车结算<b></b>
    </div>
  </div>

  <!-- 主导航 -->
  <nav id="nav">
    <div id="category">
      <a href="#">全部书籍分类</a>
      <b></b>
    </div>
    <ul id="nav_items">
      <li><a href="#">诗歌</a></li>
      <li><a href="#">小说</a></li>
      <li><a href="#">传记</a></li>
      <li><a href="#">访谈</a></li>
      <li><a href="#">儿童图书</a></li>
      <li><a href="#">党政书籍</a></li>
      <li><a href="#">教辅</a></li>
    </ul>
  </nav>
</body>

</html>